<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=<<for>>, initial-scale=1.0">
<title>Users</title>
</head>
<body>
<div class="container">
  
    {% for user in users %}
    <h1>Welcome to{{user.username}}!</h1>    
     <ul id="user.username">
      <li>
        <span class="field-name">User:</span>
        <span class="field-value">{{ user.username }}</span>
      </li>
      <li>
        <span class="field-name">Email:</span>
        <span class="field-value">{{ user.email }}</span>
      </li>
     
    </ul>
    {% endfor %}
  </div>
</body>
</html>

